{% extends "bootstrap/base.html" %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
  	<a class="navbar-brand" href="{{url_for('main.home')}}">Home</a>
  	<a class="navbar-brand" href="{{url_for('main.add')}}">Add Project</a>
  </div>
</div>
{% endblock %}
