{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
    {% for project in projects.items %}
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ project.title }}</div>
            <div class="panel-body">
                <p>{{ project.description }} </p>
                <b>{{ project.start_date.strftime("%B %Y") }} - {{ project.end_date.strftime("%B %Y") }}</b>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-md-4 col-md-offset-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if projects.has_prev %}
                <li><a href="{{url_for('main.home', page=projects.prev_num)}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                <!-- Adding a list of page numbers -->
                {% for i in range(1, projects.pages+1) %}
                <li {% if i == projects.page %}class='active'{% endif %}><a href="{{url_for('main.home', page=i)}}">{{i}}</a></li>
                {% endfor %}

                {% if projects.has_next %}
                <li><a href="{{url_for('main.home', page=projects.next_num)}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
